.lw-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  min-width: 80px;
  padding: 0 16px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #e6e6e6;

  box-sizing: border-box;
  line-height: 1;
  color: #4e5159;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
  transition: 0.3s;

  cursor: pointer;
  user-select: none;
  vertical-align: middle;

  //   去掉按钮点击的默认样式和边框线
  &:focus {
    outline: none;
    border: none;
  }
  span {
    line-height: 1;
    display: inline-flex;
    align-items: center;
  }
  //   添加不同类型样式
  &-- {
    &default {
      border-color: #e3e5f1;

      &:hover {
        background-color: #6e96ff;
        color: white;
        border-color: #6e96ff;
      }
    }
    &success {
      background-color: #67c23a;
      color: white;
      border-color: #67c23a;

      &:hover {
        background-color: #a2d380;
        color: white;
        border-color: #a2d380;
      }
    }

    &danger {
      background-color: #f56c6c;
      color: white;
      border-color: #f56c6c;
      &:hover {
        background-color: #f78989;
        color: white;
        border-color: #f78989;
      }
    }

    &warning {
      background-color: #e6a23c;
      color: white;
      border-color: #e6a23c;
      &:hover {
        background-color: #ebb563;
        color: white;
        border-color: #ebb563;
      }
    }

    &primary {
      background-color: #409eff;
      color: white;
      border-color: #409eff;
      &:hover {
        background-color: #66b1ff;
        color: white;
        border-color: #66b1ff;
      }
    }
  }
}
